/* css Zen Garden submission 215 - 'A Robot Named Jimmy', by meltmedia, http://meltmedia.com  */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */
/* All associated graphics copyright 2013, meltmedia  */


/* IMPORTANT */
/* This design is not a template. You may not reproduce it elsewhere without the 
   designer's written permission. However, feel free to study the CSS and use 
   techniques you learn from it elsewhere. */


/* 
 * A submission from meltmedia for the CSS Zen Garden's 10th Anniversary
 * 
 * Design by @guitrasher
 * Development by @jimmyking
 *
 * http://meltmedia.com
 *
 *                                                               
 *                 +N@@@@@@?~           +@@@@@@N+~               
 *                @@@@@@@@@@@D~       $@@@@@@@@@@@Z              
 *             ~$@@@@@@@@@@@@@@     ~N@@@@@@@@@@@@@@~            
 *             7@@@@@@@@@@@@@@@N    8@@@@@@@@@@@@@@@D            
 *            ~@@@@@@@@@@@@@@@@@~   @@@@@@@@@@@@@@@@@~           
 *             @@@@@@@@@@@@@@@@@~  ~@@@@@@@@@@@@@@@@@~           
 *             8@@@@@@@@@@@@@@@@   ~@@@@@@@@@@@@@@@@@            
 *             ?@@@@@@@@@@@@@@@7    $@@@@@@@@@@@@@@@I            
 *              @@@@@@@@@@@@@@D      @@@@@@@@@@@@@@8             
 *              @@@@@@@@@@@@@+      ~@@@@@@@@@@@@@               
 *             @@@@@@@@@@@7         @@@@@@@@@@@I                 
 *       ~$@@@@@@@@@@@         $@@@@@@@@@@@~       ~@@@@@@ ~     
 *      @@@@@@@@@@@@@        @@@@@@@@@@@@@~      +@@@@@@@@@@I    
 *    7@@@@@@@@@@@@@@      O@@@@@@@@@@@@@@~    ~@@@@@@@@@@@@@@   
 *   +@@@@@@@@@@@@@@@~    O@@@@@@@@@@@@@@@~    @@@@@@@@@@@@@@@@  
 *  ~@@@@@@@@@@@@@@@@8    @@@@@@@@@@@@@@@@8~   @@@@@@@@@@@@@@@@N 
 *  ~@@@@@@@@@@@@@@@@@~   @@@@@@@@@@@@@@@@@   $@@@@@@@@@@@@@@@@@ 
 *  ~@@@@@@@@@@@@@@@@@~  ~@@@@@@@@@@@@@@@@@~  ?@@@@@@@@@@@@@@@@@ 
 *  ~8@@@@@@@@@@@@@@@?    N@@@@@@@@@@@@@@@+   ~@@@@@@@@@@@@@@@@+ 
 *   ~@@@@@@@@@@@@@@@~    ~@@@@@@@@@@@@@@N      @@@@@@@@@@@@@@8  
 *    ~N@@@@@@@@@@@?       ~D@@@@@@@@@@@+        @@@@@@@@@@@@+~  
 *     ~ $@@@@@@@I            $@@@@@@D            ~Z@@@@@@N~     
 *                                                               
 *                      _ _                      _ _             
 *                     | | |                    | (_)            
 *       _ __ ___   ___| | |_ _ __ ___   ___  __| |_  __ _       
 *      | '_ ` _ \ / _ \ | __| '_ ` _ \ / _ \/ _` | |/ _` |      
 *      | | | | | |  __/ | |_| | | | | |  __/ (_| | | (_| |      
 *      |_| |_| |_|\___|_|\__|_| |_| |_|\___|\__,_|_|\__,_|      
 *                                                               
 *
 * See the original LESS files at https://github.com/jking90/zen-garden
 *
 */

 @import url('http://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:400italic,400');

 @import url('http://fast.fonts.com/cssapi/95b765fd-fae4-4f1b-8155-d8244914a5c6.css');
 
 aside,
 footer,
 header,
 nav,
 section {
   display: block;
 }
 [hidden] {
   display: none;
 }
 html {

   font-family: Comic Sans MS;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
 }
 body {
   margin: 0;
 }
 a:focus {
   outline: thin dotted;
 }
 a:active,
 a:hover {
   outline: 0;
 }
 h1 {
   font-size: 2em;

   margin: 0.67em 0;
 }
 abbr[title] {
   border-bottom: 1px dotted;
 }
 fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
 }
 body {
   color: #0f2a36;
   font-family: 'Comic Sans MS';
   font-size: 16px;
   line-height: 2.25em;
 }
 
 h1 {
	width: 980px;
	height: 100px;
		
 }
 h2 {
   color: yellow;
   font-size: 22px;
   font-style: italic;
   font-weight: 400;
 }
 h3 {
   color: #dd3b2a;
   font-family: 'Comic Sans MS';
   font-size: 40px;
   font-weight: 500;
   line-height: 1.25em;
   margin: 0.5em 0;
 }
 h3 + p {
   margin-top: 0;
 }
 #description{
	float: left;
 }

 a {
   color: #2babe1;
   text-decoration: none;
 }
 abbr[title] {
   border: none;
 }
 .preamble abbr,
 .supporting div abbr,
 .requirements abbr {
   border-bottom: 1px dotted #30e0ad;
 }
 .preamble abbr:hover:after,
 .supporting div abbr:hover:after,
 .requirements abbr:hover:after {
   content: ' (' attr(title) ')';
   text-shadow: 0 0 1em #dd3b2a;
 }
 .spin from {
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 .spin to {
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
 }
 .rise from {
   top: 100%;
 }
 .rise to {
   top: 165px;
 }
 .rise-short from {
   top: 100%;
 }
 .rise-short to {
   top: 275px;
 }
 @-webkit-keyframes spin {
   from {
	 -webkit-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
	 -ms-transform: rotate(0deg);
	 -o-transform: rotate(0deg);
	 transform: rotate(0deg);
   }
   to {
	 -webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
	 -ms-transform: rotate(360deg);
	 -o-transform: rotate(360deg);
	 transform: rotate(360deg);
   }
 }
 @-moz-keyframes spin {
   from {
	 -webkit-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
	 -ms-transform: rotate(0deg);
	 -o-transform: rotate(0deg);
	 transform: rotate(0deg);
   }
   to {
	 -webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
	 -ms-transform: rotate(360deg);
	 -o-transform: rotate(360deg);
	 transform: rotate(360deg);
   }
 }
 @-ms-keyframes spin {
   from {
	 -webkit-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
	 -ms-transform: rotate(0deg);
	 -o-transform: rotate(0deg);
	 transform: rotate(0deg);
   }
   to {
	 -webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
	 -ms-transform: rotate(360deg);
	 -o-transform: rotate(360deg);
	 transform: rotate(360deg);
   }
 }
 @-o-keyframes spin {
   from {
	 -webkit-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
	 -ms-transform: rotate(0deg);
	 -o-transform: rotate(0deg);
	 transform: rotate(0deg);
   }
   to {
	 -webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
	 -ms-transform: rotate(360deg);
	 -o-transform: rotate(360deg);
	 transform: rotate(360deg);
   }
 }
 @keyframes spin {
   from {
	 -webkit-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
	 -ms-transform: rotate(0deg);
	 -o-transform: rotate(0deg);
	 transform: rotate(0deg);
   }
   to {
	 -webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
	 -ms-transform: rotate(360deg);
	 -o-transform: rotate(360deg);
	 transform: rotate(360deg);
   }
 }
 @-webkit-keyframes rise {
   from {
	 top: 100%;
   }
   to {
	 top: 165px;
   }
 }
 @-moz-keyframes rise {
   from {
	 top: 100%;
   }
   to {
	 top: 165px;
   }
 }
 @-ms-keyframes rise {
   from {
	 top: 100%;
   }
   to {
	 top: 165px;
   }
 }
 @-o-keyframes rise {
   from {
	 top: 100%;
   }
   to {
	 top: 165px;
   }
 }
 @keyframes rise {
   from {
	 top: 100%;
   }
   to {
	 top: 165px;
   }
 }
 @-webkit-keyframes rise-short {
   from {
	 top: 100%;
   }
   to {
	 top: 275px;
   }
 }
 @-moz-keyframes rise-short {
   from {
	 top: 100%;
   }
   to {
	 top: 275px;
   }
 }
 @-ms-keyframes rise-short {
   from {
	 top: 100%;
   }
   to {
	 top: 275px;
   }
 }
 @-o-keyframes rise-short {
   from {
	 top: 100%;
   }
   to {
	 top: 275px;
   }
 }
 @keyframes rise-short {
   from {
	 top: 100%;
   }
   to {
	 top: 275px;
   }
 }
  
 aside:before {
   -webkit-animation: spin 8s infinite linear;
   -moz-animation: spin 8s infinite linear;
   -ms-animation: spin 8s infinite linear;
   -o-animation: spin 8s infinite linear;
 }
 aside:after {
   -webkit-animation: rise 1.5s 1 ease;
   -moz-animation: rise 1.5s 1 ease;
   -ms-animation: rise 1.5s 1 ease;
   -o-animation: rise 1.5s 1 ease;
 }
 header {
   margin: 0 auto;
   max-width: 1040px;
   position: relative;
   text-align: center;
   top: 0;
   width: 100%;
   z-index: 1;
 }
 header h1 {
   border-top: 4px solid white;
   color: #00374f;
   display: inline-block;
   min-height: 70px;
   margin: 55px auto 0;
   padding: 0 10px;
   z-index: 2;
 }
 header h1:after {
   background-color: #dd3b2a;
   content: '';
   height: 2px;
   left: 0;
   margin-top: -3px;
   position: absolute;
   width: 100%;
   z-index: -1;
 }
 header h2 {
   text-align: right;
   max-width: 695px;
   margin: -10px auto 0;
   width: 100%;
 }
 

 .button {
  background-color: rgb(142, 92, 207);
  border: none;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
* {
    margin: 0;
    padding: 0;
}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    background-color: #000;
}

.summary {
   position: relative;
   max-width: 1040px;
   margin: 80px auto 0;
   width: 100%;
   z-index: 2;
 }
 .summary p {

   clear: left;
   color: #dd3b2a;
   float: left;

   font-style: italic;
   margin: 0;
   width: 300px;
 }
 .summary p a:last-child {
   white-space: nowrap;
 }
 .preamble {
   clear: left;
   float: left;
   left: 50%;
   margin-left: -520px;
   max-width: 495px;
   position: relative;
   top: 298px;
   width: 50%;
   z-index: 4;
 }

 .extra{
  position: relative;
  max-width: 1040px;
  margin: 80px auto 0;
  width: 100%;
  z-index: 2;
  float: right
 }

 .intro {
   background: #edf6ff;
   background: -moz-linear-gradient(top, #ffffff 0%, #edf6ff 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #edf6ff));
   background: -webkit-linear-gradient(top, #ffffff 0%, #edf6ff 100%);
   background: -o-linear-gradient(top, #ffffff 0%, #edf6ff 100%);
   background: -ms-linear-gradient(top, #ffffff 0%, #edf6ff 100%);
   background: linear-gradient(to bottom, #ffffff 0%, #edf6ff 100%);
   float: left;
   height: 590px;
   width: 100%;
 }
 .supporting {
   /*background-color: rgba(255, 255, 255, 0.9);*/
   border-top: 5px solid #42b3f5;
   border-bottom: 5px solid #550ca8;

   float: left;
   position: relative;
   width: 100%;
   z-index: 3;
 }
 .supporting > * {
   float: left;
   width: 50%;
 }
 .explanation {
   float: left;
   margin-left: 1.5%;
   max-width: 495px;
   padding-bottom: 15px;
   position: relative;
   left: 50%;
 }
 .participation {
   background: #edf6ff;

   border-top: 5px solid #cce4fb;
   padding-top: 15px;
   width: 100%;
 }
 .participation h3,
 .participation p {
   clear: left;
   float: left;
   left: 50%;
   margin-left: -520px;
   max-width: 495px;
   position: relative;
 }
 .participation:after {
   background: url(../images/participation.png) 40px center no-repeat;
   background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvHwRZdafGKg5XEYbGyEzoNbVo2lNX6nQhC_8bImaqwNvhsa5O') 40px center no-repeat;
   background-size: cover;
   clear: right;
   content: '';
   cursor: crosshair;
   display: block;
   float: left;
   height: 412px;
   left: 50%;
   margin-top: -310px;
   max-width: 495px;
   min-width: 412px;
   position: relative;
   width: 100%;
 }
 .benefits {
   background-color: #edf6ff;
   border-bottom: 5px solid #db74db;
   margin-bottom: 25px;
   padding: 150px 0 50px 0;
   width: 100%;
 }
 .benefits h3,
 .benefits p {
   clear: left;
   float: left;
   left: 50%;
   margin-left: 1.5%;
   max-width: 495px;
   position: relative;
   width: 50%;
 }
 .benefits:before {
   border: 1px solid #db74db;
   content: '';
   display: block;
   height: 0px;
   left: 50%;
   position: absolute;
   margin: -60px 0 0 -110px;
   width: 220px;
 }
 .benefits:after {
   background: url(../images/benefits.png) 150px center no-repeat;
   background: url('https://upload.wikimedia.org/wikipedia/en/5/5f/Original_Doge_meme.jpg') 150px center no-repeat;
   content: '';
   display: block;
   float: left;
   height: 312px;
   left: 50%;
   margin: -90px 0 0 -1050px;
   max-width: 495px;
   min-width: 312px;
   position: relative;
   width: 100%;
 }
 .requirements {
   left: 50%;
   margin-left: -520px;
   max-width: 1040px;
   min-height: 350px;
   position: relative;
   width: 100%;
 }
 .requirements h3 {
   text-align: center;
 }
 .requirements p {
   float: center;
   margin-left: 150px;
   max-width: 300em;
   width: 70%;
   font-size: 14px;
   line-height: 1.50em;
   max-width: none;
   text-align: center;
   position: center;
   clear: center;
   margin-right: 5%;
 }

 aside {
   background: #2babe1;
   border-top: 5px solid #edf6ff;
   clear: both;
   display: block;
   float: left;
   margin-bottom: -5px;
   width: 100%;
 }
 aside:before {
   background: url('../images/starburst.png') center top no-repeat;
   background: url('https://image.freepik.com/free-vector/abstract-blue-wave-elegant-design-transparent-background_1055-4977.jpg') center top no-repeat;
   content: '';
   height: 900px;
   left: 50%;
   margin-left: -461.5px;
   position: fixed;
   top: 60px;
   width: 923px;
 }
 aside:after {
   background: url('../images/robot.png') center top no-repeat;
   background: url('https://img.buzzfeed.com/buzzfeed-static/static/2018-04/13/16/asset/buzzfeed-prod-web-08/sub-buzz-3730-1523651298-7.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto&output-quality=auto&output-format=auto&downsize=360:*') center top no-repeat;
   content: '';
   height: 949px;
   left: 50%;
   margin-left: -215px;
   position: fixed;
   top: 165px;
   width: 429px;
   z-index: 1;
 }
 aside .wrapper {
   background: #2babe1;
   border-top: 5px solid #edf6ff;
   margin: -5px auto 0;
   max-width: 1040px;
   padding: 40px 0 30px 0;
   position: relative;
   width: 100%;
   z-index: 2;
 }
 aside .wrapper:after {
   clear: both;
   content: " ";
   display: block;
   font-size: 0;
   height: 0;
   line-height: 0;
   visibility: hidden;
   width: 0;
 }
 aside .wrapper h3 {
   color: #00374f;
   font-size: 24px;
   margin-top: 0;
 }
 aside .wrapper a {
   color: #edf6ff;
 }
 aside .wrapper a.designer-name {
   color: #00374f;
 }
 aside .wrapper ul {
   list-style: none;
   padding: 0;
 }
 aside .wrapper ul li {
   margin-bottom: 12px;
 }
 aside .wrapper ul li:last-child {
   margin-bottom: 0;
 }
 aside .wrapper .design-selection {
   border-right: 2px solid #edf6ff;
   float: left;
   margin-right: 40px;
   width: 50%;
 }
 aside .wrapper .design-selection .design-name {
   display: block;
 }
 aside .wrapper .zen-resources {
   margin-top: 40px;
 }
 .supporting footer {
   background: #00374f;
   font-size: 22px;
   height: 65px;
   text-align: center;
   width: 100%;
 }
 .supporting footer a {
   color: #edf6ff;
   margin-right: 25px;
   vertical-align: -1em;
 }
 .supporting footer a:last-child {
   margin-right: 0;
 }
 @media (max-width: 1040px) {
   .intro {
	 height: 700px;
   }
   .intro .summary {
	 left: auto;
	 margin-top: 15px;
	 text-align: center;
	 top: auto;
   }
   .intro .summary p {
	 float: none;
	 margin: 0 auto 10px;
	 max-width: 300px;
	 width: 90%;
   }
   .preamble {
	 left: auto;
	 margin: 0 2.5% 0 5%;
	 top: 413px;
	 width: 42.5%;
   }
   .explanation {
	 margin: 0 5% 0 2.5%;
	 width: 42.5%;
   }
   .participation h3,
   .participation p {
	 left: auto;
	 margin-left: 5%;
	 width: 47%;
   }
   .participation:after {
	 background-position: center;
	 -webkit-background-size: contain;
	 -moz-background-size: contain;
	 background-size: contain;
	 float: right;
	 margin: -330px 5% 0 0;
	 min-width: 0;
	 position: static;
	 width: 40%;
   }
   .benefits h3,
   .benefits p {
	 margin-right: 5%;
	 width: 47%;
   }
   .benefits:after {
	 background-position: center;
	 -webkit-background-size: contain;
	 -moz-background-size: contain;
	 background-size: contain;
	 clear: left;
	 margin: -230px 0 0 5%;
	 min-width: 0;
	 position: static;
	 width: 40%;
   }
   .requirements {
	 left: auto;
	 margin-left: 0;
	 padding: 0 5%;
	 width: 90%;
   }
   .requirements p:nth-child(4) {
	 right: 5%;
	 width: 42.5%;
   }
   .requirements p:last-child {
	 padding: 0 20% 20px;
	 width: 60%;
   }
   aside:before {
	 top: 170px;
   }
   aside:after {
	 -webkit-animation: rise-short 1.5s 1 ease;
	 -moz-animation: rise-short 1.5s 1 ease;
	 -ms-animation: rise-short 1.5s 1 ease;
	 -o-animation: rise-short 1.5s 1 ease;
	 top: 275px;
   }
   aside .wrapper {
	 padding: 40px 5% 30px;
	 width: 90%;
   }
 }
 @media (max-width: 750px) {
   .intro header h1 {
	 font-size: 60px;
	 min-height: 50px;
	 margin-top: 35px;
   }
   .intro header h2 {
	 max-width: 455px;
   }
   .intro .summary {
	 margin-top: 35px;
   }
   .intro .preamble {
	 top: 433px;
   }
 }
 @media (max-width: 650px) {
   .intro {
	 height: 985px;
	 position: relative;
   }
   .intro .preamble {
	 background: rgba(255, 255, 255, 0.9);
	 border-top: 5px solid #dd3b2a;
	 bottom: 0;
	 margin: 0;
	 max-width: none;
	 padding: 25px 0;
	 position: absolute;
	 top: auto;
	 width: 100%;
   }
   .intro .preamble h3,
   .intro .preamble p {
	 width: 85%;
	 margin: 0 auto;
   }
   .supporting {
	 border-top: none;
   }
   .supporting footer {
	 font-size: 18px;
   }
   .supporting footer a {
	 vertical-align: -1.25em;
   }
   .explanation {
	 float: none;
	 left: auto;
	 margin: 0;
	 max-width: none;
	 padding: 0 7.5% 10px;
	 width: 85%;
   }
   .participation h3,
   .participation p {
	 float: none;
	 margin: 0 auto;
	 width: 85%;
   }
   .participation:after {
	 float: none;
	 margin: 50px auto 0;
	 width: 80%;
   }
   .benefits h3,
   .benefits p {
	 float: none;
	 left: auto;
	 margin: auto;
	 width: 85%;
   }
   .benefits:after {
	 background-position: center;
	 float: none;
	 margin: 50px auto 0;
	 width: 80%;
   }
   .requirements {
	 padding: 0 7.5%;
	 width: 85%;
   }
   .requirements p {
	 float: none;
	 position: static !important;
	 width: 100% !important;
   }
   .requirements p:last-child {
	 padding: 0 0 20px;
   }
   aside .wrapper .design-selection,
   aside .wrapper > div {
	 border: none;
	 float: none;
	 margin: 0;
	 padding: 0;
	 text-align: center;
	 width: 100%;
   }
   aside .wrapper .design-archives {
	 margin-top: 40px;
   }
   aside .wrapper > div h3 {
	 margin: 0;
   }
   aside .wrapper > div ul {
	 margin-top: 0;
   }
   aside:after {
	 -webkit-background-size: contain;
	 -moz-background-size: contain;
	 background-size: contain;
	 left: auto;
	 margin: 0 5%;
	 width: 90%;
   }
 }
 @media (max-width: 500px) {
   .intro header h1 {
	 background: white;
	 font-size: 40px;
	 line-height: 1em;
	 margin: 15px 0 10px;
	 min-height: 40px;
   }
   .intro header h1:after {
	 margin-top: 18px;
   }
   .intro header h2 {
	 font-size: 16px;
	 max-width: 310px;
   }


 }

 image:url('https://i.imgur.com/uFpLbYt.png');
  @include background-clip(text);
  color:rgba(0,0,0,0);
text-shadow:0px 0px rgba(255,255,255,0.06);
  animation:wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
  background-size:200px 100px;
  background-repeat:repeat-x;
  opacity:1;
}
.wave-2{
  @include background-clip(initial);
  display:inline-block;
}

:root {
  font-size: calc(1vw + 1vh + 1.5vmin);
}

body {
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwji7_iDwurkAhUeBWMBHSgMAbgQjRx6BAgBEAQ&url=https%3A%2F%2Fwallup.net%2Ffunny-threadless%2F&psig=AOvVaw3xrdYdy0t5o5jmAU6bKbou&ust=1569450781549570");
  font-size: 0.5rem;
}

h1 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}